<!DOCTYPE html>
<html>
<head>
  <title>depot bookstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 
  <%= csrf_meta_tags %>
</head>
<body class= "<%=controller.controller_name%>">

	<div id= "banner">
		<%= image_tag("logo.png")%>
		<%= @page_title || "Depot Bookshelf" %>
	</div>
	<div id="columns">
		<div id="side">
			<ul>
				<li><a href=#1>Home</a></li>
				<li><a href=#2>Questions</a></li>
				<li><a href=#3>News</a></li>
				<li><a href=#4>Contact</a></li>
			</ul>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>



</body>
</html>
